/* Inicio Bloco - CONTINE LENDO */

@media (max-width: 650px) {
  .extra_content {
    display: none;
  }
  #read_more {
     display: inline-block;;
  }
	.readmore{
	display: block!important;
}

	.read_more{
  display: none;
}
}
.show {
   display: block!important;
}
.disappear{
	display: none!important;
}
.readmore{
    border-bottom: 2px solid;
	  display: none;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 100;
	margin-top: -7.555556em!important;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fcfcfc 50%,#f1f1f1);
}

.read_more{
    width: 268px;
    text-align: center;
    padding: 15px;
    margin: 90px auto 24px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: #fff;
    font-family: opensans,sans-serif;
    font-size: 13px;
    letter-spacing: .5px;
    box-shadow: 0 1px 0 #cecece;
    display: inline-block;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
		color: inherit;
}

.readmore:after {
    background: -webkit-gradient(linear,left bottom, left top,from(#fff),to(rgba(255,255,255,0)));
    background: linear-gradient(to top,#fff,rgba(255,255,255,0));
    content: '';
    
    height: 8em;
    left: 0;
    position: absolute;
    top: -3.333333333333334em;
    width: 100%;
    z-index: 1000;
}
/* Fim Bloco - CONTINE LENDO */